@model IEnumerable<Teacher>
@{
    ViewData["Teacher"] = "Teacher List page";
}

<div class="d-flex justify-content-around">
<p>Teacher Page</p>
<a class="btn btn-outline-success btn-sm" asp-controller="Teacher" asp-action="Create">Add New Teacher</a>
</div>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Classroom</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@(item.Classroom==null?"":item.Classroom.RoomNo)</td>
                <td><a asp-controller="Teacher" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                <td><a asp-controller="Teacher" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
